.app{
    font-family: 'Jua',sans-serif;
}
p {
    line-height: 1.375rem;
    margin-bottom: 30px;
    font-size: 1.2rem;
}
.main{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 100%;
    max-width: 90rem;
    padding: 4rem 2rem;
    margin: 0 auto;
}
.project_main{
    padding: 3rem;
    margin: 0 auto 2rem;
    border-radius: 1rem;
    background-color: #fff;
    box-shadow: 1rem 1rem 1rem 0 rgba(68,68,68,.2);
    -webkit-box-shadow: 1rem 1rem 1rem 0 rgba(68,68,68,.2);
}
.project_title{
    padding-bottom: 0.5rem;
    font-weight: 400;
    font-size: 3rem;
    color: #222;
    text-align: center;
}
.project_subtitle{
    margin-bottom: 2rem;
    font-weight: 400;
    font-size: 2rem;
    color: #6c757d;
    text-align: center;
    opacity: .8;
}
.project_info{
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-pack: center;
}
.project_img{
    overflow: hidden;
    position: relative;
    width: 50%;
    margin-right: 3rem;
}
.project_desc{
    width: -moz-calc(50% - 3rem);
    width: calc(50% - 3rem);
}
.project_desc_main{
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid #ccc;
    font-weight: 400;
    font-size: 1.5rem;
    text-align: left;
}
.project_label{
    display: inline-block;
    vertical-align: top;
    width: 8.4rem;
    font-weight: 900;
    font-size: 1.5rem;
    text-align: left;
}
.project_value{
    display: inline-block;
    vertical-align: bottom;
    width: -moz-calc(100% - 8.4rem);
    width: calc(100% - 8.4rem);
    font-weight: 400;
    font-size: 1.5rem;
    text-align: left;
}
.OnTop {
    position: fixed;
    right: 0;
    bottom: 1%;
}
a {
    text-decoration: none;
    cursor: pointer;
}
.about_box { 
    text-align: left;   
    width: 40rem;
    height: 25rem;
    margin: 2rem;
}
.about_box_1{
    width: 40rem;
    height: 25rem;
    background-image: url(@/img/school.jpeg);
}
.about_box_2{
    width: 40rem;
    height: 25rem;
    background-image: url(@/img/photo.jpeg);
}
.container_title {
    color: #C38154;
    background: #F9E0BB20;
    padding: 45px 0 30px 0;
    font-weight: 200;
    font-size: 3rem;
    text-align: center;
    word-break: kiip-all;
    border-bottom: 0.01rem solid #fff;
}
.container{
    display: flex;
    flex-flow: column wrap;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.box {
    flex-shrink: 0;
    width: 30rem;
    padding: 1.5rem;
    margin: 5rem;
    border-radius: 0.7rem;
    background-color: #fff;
    box-shadow: 1rem 1rem 1rem 0 rgba(68,68,68,.2);
    -webkit-box-shadow: 1rem 1rem 1rem 0 rgba(68,68,68,.2);
}
.box_title{
    padding-bottom: 0.5rem;
    margin-bottom: 1.5rem;
    border-bottom: 1px solid #ccc;
    font-weight: 700;
    font-size: 1.4rem;
    color: #56585C;
}
.box_content{
    color : black;
    font-size: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: column;
}
.box_content li{
    float: left;
    list-style-position: inside;
    text-indent: -20px;
    padding-left: 20px;
}
.menu{
    position: absolute;
    margin: -5% 0 -30% 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 8%;
    background: #FFC26F;
    color: white;
}
.menu .nav{
    font-size: 1.5vw;
    word-spacing: 5em;
}
.left{
    float: left;
    width: 50%;
}
.right{
    float: right;
    width: 50%;
}
.edutitle{
    background: none;
    color : black;
    font-size: 1.5rem;
    margin-top: 3%;
}
.educontent{
    font-size: 1rem;
}
tr span{
    margin : 2vw 0 0 20vw;
    font-size: 1.3vw;
    float: left;
}
.title {
    font-size: 3rem;
    margin-top: 1%;
    width: 100%;
    height: 60vh;
    color : #C38154;
    background: #F9E0BB20;
    padding: 45px 0 30px 0;
}
.school{
    width: 60%;
    height: 40vh;
}
hr {
    margin-top: 2%;
    width:80%;
}
li{
    font-size: 1.3rem;
    margin-right: 40px;
}
a {
    text-decoration: none;
    color: black;
}
a:hover{
    color : #C38154;
    opacity: 70%;
}
.main_menu_bg{
    margin-top: 0px;
    border-bottom: 1px solid #FFC26F;
    height: 8vh;
    transition: all 0.3s;
}
.nave_menu{
    margin-left: -12%;
    margin-top: -2%;
    transition: all 0.6s;
}
#title{
    text-align: center;
    color: black;
    font-size: 2rem;
}
.container-fluid {
    padding-right: 15px;
    padding-left: 250px;
    margin-right: auto;
    margin-left: auto;
}